<footer>
  <div class="pull-left">
    <a class="icon-link" href="https://github.com/stranger19" data-related="dinarcse">
      Share what you know.
      <%= fa_icon 'heart' %>
    </a>
  </div>
  <div class="pull-right">
    <a href="https://twitter.com/dinarcse" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @dinarcse</a>
    <a href="https://twitter.com/intent/tweet?screen_name=dinarcse" class="twitter-mention-button" data-related="excid3">Tweet to @dinarcse</a>
  </div>
</footer>
